html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

textarea {
  height: 250px;
}

.jinja-msg {
  text-align: center;
}

.ul-storage-msg {
  list-style-type: none;
  padding: 0;
}

.li-storage-msg {
  border: solid 1px black;
  border-radius: 4px;
  padding: 10px;
  margin: 15px;
}
